# OS files
.DS_Store

# Vendor files
/node_modules
/vendor

# Playground files
.env
.license
/playground/public/media/*
/playground/storage/accounts/*
/playground/storage/cache/*
/playground/storage/sessions/*

# Cache and temporary files
/.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
/index.dev.mjs
/tests/coverage
/tests/*/tmp
/tools/**/vendor
